.client {
    background-image: url(../../images/bababab.svg);
    background-repeat: no-repeat;
    background-color: #002529;
    overflow: hidden;
}

.client__inner {
    width: 100%;
    max-width: 1110px;
    margin: 0 auto;
    padding: 140px 0;
}

.client__title {
    font-family: 'Livvic';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 48px;
    text-align: center;
    color: #FFFFFF;
}

.social-media {
    width: 100%;
    max-width: 1110px;
    display: flex;
    justify-content: center;
    gap: 80px;
}







@media only screen and (max-width:768px) {
    .client__inner {
        width: 689px;
    }

    .social-media {
        width: 689px;
        gap: 15px;
    }
}

@media only screen and (max-width:576px) {
    .btn-link{
        display: none;
    }
    .social-media {
        width: 227px;
        flex-wrap: wrap;
        gap: 40px;
        margin: 0 auto;
    }

    .clinet-img {
        display: block;
    }

    .client__title {
        text-align: center;
        font-weight: 700;
        font-size: 32px;
        line-height: 32px;
    }

    .client {}
}