.site-aside {
    background: #F67E7E;
    background-image: url("../../images/aside_left_circle.svg");
    background-repeat: no-repeat;
    background-size: 200px 244px;
    background-position: calc(50% - 660px) calc(50% + 93px);
}

.aside__inner {
    position: relative;
    @include position;
    padding: 76px;
    width: 100%;
}

.aside__title {
    margin: 0;
    padding: 0;
    font-weight: 700;
    font-size: 48px;
    line-height: 48px;
    color: #012F34;
}

.btn-link:nth-child(2) {
    border: 2px solid #012F34;
    border-radius: 24px;
    color: #012F34;
}

.btn-link:nth-child(2):active {
    background: #012F34;
    color: #FFFFFF;
}

.footer__span {
    color: #FFFFFF;
}

@media only screen and(max-width:768px) {
    .site-aside {
        background-position: left top 95px;
    }

    .aside__title {
        font-size: 32px;
        line-height: 32px;
    }

}

@media only screen and(max-width:576px) {
    .site-aside {
        background-position: left bottom -139px;
    }

    .aside__inner {
        display: block;
        margin: 0 auto;
        text-align: center;
        padding: 83px 0px;
        height: 300px;
    }

    .aside__title {
        margin-bottom: 24px;
    }

    .btn-link {
        display: block;
        margin: 0 auto;



    }

}