.site-aside{
    background: #F67E7E;
}
.aside__inner{
    position: relative;
    @include position;
    padding: 76px;
}
.aside__inner::before{
    position: absolute;
    background-image: url("../../images/aside-img.svg");
    background-repeat: no-repeat;
    background-size: 200px 244px;
    width: 200px;
    height: 244px;
    top: -44px;
    left: -205px;
    content: '';

}
.aside__title{
    margin: 0;
    padding: 0;
    font-weight: 700;
    font-size: 48px;
    line-height: 48px;
    color: #012F34;
}
.btn-link:nth-child(2){
    border: 2px solid #012F34;
    border-radius: 24px;
    color: #012F34;
    &:active{
        background: #012F34;
        color: #FFFFFF;

    }
}

.footer__span {
    color: #FFFFFF;
}