.hero{
    padding-top:129px;
    padding-bottom: 255px;
    background-image: url("../../images/Group.svg");
    background-repeat: no-repeat, no-repeat;
    background-size: 200px 200px;
    background-position: calc(50% - 760px) calc(50% - 70px);
}
.hero__inner{
    position: relative;
    @include position;
}
.hero__inner::before{
    position: absolute;
    background-repeat: no-repeat;
    left: -165px;
    width: 100%;
    max-width: 200px;
    height: 200px;
    content: '';
}
.hero__content{
    position: relative;
    width: 100%;
    max-width: 445px;
    margin-left: auto;
}
.title{
    width: 100%;
    max-width: 600px;

}
.hero__title{
    font-weight: 700;
font-size: 100px;
line-height: 100px;
color: #FFFFFF;
    margin: 0;
}
.span__color{
    font-weight: 700;
font-size: 100px;
line-height: 100px;
    color: #F67E7E;
}
.hero__line{
    display: block;
    width: 100%;
    max-width: 50px;
    border: 4px solid #79C8C7 ;
    border-bottom: transparent;
}
.hero__text{
    margin: 0;
    font-weight: 600;
font-size: 18px;
line-height: 28px;
color: #FFFFFF;
padding: 83px 0px 5px;
}
@media only screen and (max-width:768px) {
    .hero__inner{
     flex-wrap: wrap;
     padding-top: 80px;
     padding-bottom: 200px;
     background-size: 358px 200px;
     background-position: bottom;
    }
    .title{
        margin: 0 auto;
        width: 380px;
    }
    .hero__line{
     display: none;
    }
    .hero__title,.span__color{
    font-size: 64px;
    line-height: 56px;
    text-align: center;
    }
    .hero__content{
        margin: 0 auto;
        width: 427px;
    }
    .hero__text{
    padding-top: 18px;
    font-size: 15px;
    line-height: 28px;
    text-align: center;
    }
}
@media only screen and (max-width:576px) {
    .hero__inner{
        background-size: 100%;
        padding-bottom: 168px;
    }
   .title{
    width: 327px;
   }
    .hero__title,.span__color{
    font-size: 40px;
    line-height: 40px;
    text-align: center;
    }
    .hero__content{
        width: 327px;
    }

}

