.stories{
    background-image: url("../../images/stories__buttoncircle.svg");
    background-repeat: no-repeat;
    background-size: 200px 244px;
    background-position: calc(50% + 660px) calc(50% + 366px);
}
.stories__inner{
    padding: 140px 0px;
}
.stories__boxtitle{
    display: block;
    margin: 0 auto;
    width: 100%;
    max-width: 932px;
}
.stories__title{
    text-align: center;
    font-weight: 700;
    font-size: 48px;
    line-height: 48px;
    margin: 0px;
    text-align: center;
    color: #FFFFFF;
}
.stories__list{
    position: relative;
    display:grid;
    grid-template-columns: repeat(3,1fr);
    gap: 30px;
    @include unsed-list;
    padding-top: 92px;
}
.stories__img{
    display: block;
    margin: 0 auto;
}
.stories__item{
    position: relative;
}
.stories__item::before{
    position: absolute;
    background-image: url("../../images/quote.svg");
    background-repeat: no-repeat;
    width: 100%;
    max-width:67px;
    height:56px;
    left: 0;
    right: 0;
    top: -30px;
    margin: 0 auto;
    z-index: -1;
    content: '';
}
.stories__subtitle{
    margin: 0;
    font-weight: 600;
    font-size: 15px;
    line-height: 25px;
    text-align: center;
    color: #FFFFFF;
}
.stories__strong{
    display: block;
    font-weight: 700;
    font-size: 18px;
    line-height: 28px;
    text-align: center;
    color: #79C8C7;
    padding-top: 24px;
}
.kursiv{
    display: block;
    font-size: 13px;
    line-height: 18px;
    text-align: center;
    color: #FFFFFF;
    padding-bottom: 32px;
}
@media only screen and(max-width:768px) {
    .stories{
        background-position: bottom -122px right;
    }
    .stories__item::before{
        margin-top: 75px;
        background-position: left  top;
    }
    .stories__title {
        padding: 0;
    margin-bottom: 48px;
    font-size: 32px;
    line-height: 32px;
    }
    .stories__list{
        display: block;
    }
    .stories__list{
        padding: 0;
        
    }
    .stories__item{
        display: block;
        margin: 0 auto;
        text-align: center;
    }
    .stories__subtitle{
        padding-top: 80px;
    }
}