.teams{
    background: #012F34;
}
.teams__inner{
    position:relative;
    display: flex;
    align-items: flex-start;
    padding: 140px 0px;
}
.teams__inner::before{
    position: absolute;
    background-image: url("../../images/teams_cricle.svg");
    background-repeat: no-repeat;
    width: 200px;
    height: 244px;
    bottom: 0px;
    right: -250px;
    content: '';
    
}
.teams__left{
    width: 100%;
    max-width: 445px;
}
.teams__content{
    position: relative;
}
.teams__content::before{
    position: absolute;
    background-image: url("../../images/teams_icon.svg");
    background-size: 100%;
    left: -95px;
    width: 72px;
    height: 72px;
    background-repeat: no-repeat;
    content: '';

}
.teams__content:nth-child(2)::before{
    background-image: url("../../images/teams_icon2.svg");
}
.teams__content:nth-child(3)::before{
    background-image: url("../../images/teams_icon3.svg");
}
.teams__right{
    width: 100%;
    max-width: 445px;
    margin-left: auto;
}
.teams__line{
    display: block;
    width: 50px;
    border:4px solid #F67E7E;
    border-bottom: transparent;
}
.teams__subtitle{
    margin: 0;
    font-size: 18px;
    line-height: 28px;
    color: #F67E7E;

}
.teams__tite{
    margin: 0px;
    padding: 58px 0px 202px;
    font-weight: 700;
    font-size: 48px;
    line-height: 48px;
    color: #FFFFFF;
}
.teams__text{
    font-weight: 600;
font-size: 15px;
line-height: 25px;
color: #FFFFFF;
mix-blend-mode: normal;
opacity: 0.8;
}